{% ifequal url_linktext "Logout" %}
<h3>Add Page: <b>{{ adventure.title }}</b></h3>
	<form action="/addPage" method="post">
	<table>
	<div><tr><td>Page Name:<td><input type="text" name="pageName" value="{{ page.name }}"></div>
	{% if page.key %}
	<input type="hidden" name="myPageKey" value="{{ page.key }}">
	{% endif %}
	{% if adventure.key %}
	<input type="hidden" name="myAdventureKey" value="{{ adventure.key }}">
	{% endif %}
	</table>
	<div><input type="submit" value="{{ buttonText }}"></div>
	</form>
{% else %}
<a href="{{ url }}">{{ url_linktext }}</a>
{% endifequal %}
