{% extends "index.html" %}

{% block main %}
<div class="book3">
For help, go to:<br>
<a href="http://groups.google.com/group/istoryweb/web/istory-resources">http://groups.google.com/group/istoryweb/web/istory-resources</a><br><br>
<div style="text-align: left">
<ul>
	<li>Creating your first story guide: <a href="http://groups.google.com/group/istoryweb/web/creating-your-first-story">Creating Your First Story</a>
	<li>Story Script documentation: <a href="http://groups.google.com/group/istoryweb/web/Story%20Script%20Documentation">Story Script Documentation</a>
	<li>Frequently Asked Questions: <a href="http://groups.google.com/group/istoryweb/web/FAQ">FAQ</a>
</ul>
</div></div>
{% endblock %}