<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iStory beta - {{ title }}</title>
<link href="/stylesheets/favicon.ico" rel="icon" type="image/x-icon" />
<!-- Individual YUI CSS files -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/container/assets/skins/sam/container.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/resize/assets/skins/sam/resize.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/imagecropper/assets/skins/sam/imagecropper.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/treeview/assets/skins/sam/treeview.css">

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
<!--[if IE]>
<style type="text/css"> 
.layout_sidebar { zoom: 1 }
.layout_mainContent { zoom: 1; }
.layout_mainContent .book { zoom: 1; }
.layout_mainContent .books { zoom: 1; }
</style>
<![endif]-->
</head>
<body class="yui-skin-sam">


{% block top %}
<table class="layout_container">
<tr><td class="layout_header" colspan="2">
	<table class="tableHeader"><tr>
	<th><h1><a href="/">iStory</a> beta</h1></th>
	<td>
		<a href="{{ loginURL }}">{{ login }}</a>
		{% if loggedIn %}
		{{ currentUser }}
		| <a href="{{ myStoriesURL }}">{{ myStories }}</a>
		{% endif %}
	</td></tr></table>
</td></tr>
{% endblock %}


<tr><td class="layout_sidebar">

{% block sidebar %}
		<h3>What is iStory?</h3>
		<div class="sb1">
		<div>iStory is an interactive story telling environment for the iPhone.</div>
		<div>Login with your Google account and use the <b><i>StoryForge</i></b> to create your own dynamic story line, complete with text, pictures, and choices.</div>
		<div>While writing your story, you'll be able to experience it on your own iPhone.</div>
		<div>When you're done, simply submit your story to share it with the rest of the world!</div>
		<div>Tell your friends and family and let them craft a path through your story, or try it out for yourself. You'll love being able to choose your own adventure each and every time you play through.</div>
		<div>The best part about iStory is that you can make <i>whatever</i> you want. Short, long, full of pictures, or hundreds of story branches- if you can think it, you can make it.</div>
		</div>
{% endblock %}

</td>

{% block middle %}
{% endblock %}

<td class="layout_mainContent">

{% block main %}
	<div class="books">
		<div class="book3"><h1>Featured Stories</h1></div>
	{% for adventure in adventures %}
		<div class="book">
			<center><b><a href="/playStory?myAdventureKey={{ adventure.key }}">{{ adventure.title }}</a></b><br>
			<i>{{ adventure.author }}</i><br>
			{{ adventure.created.date }}</center><hr>
			<code>{{ adventure.desc|escape }}</code>
		</div>
	{% endfor %}
	</div>
{% endblock %}

</td></tr>

<tr><td class="layout_footer" colspan="2">

{% block bottom %}
		<table width="100%">
		<tr>
			<td>Powered by <a href="http://code.google.com/appengine/">Google App Engine</a></td>
			<td>iStory source code is available from <a href="http://code.google.com/p/istory-web">Google code</a></td>
		</tr>
		<tr>
			<td>Find a bug? Have a question or suggestion? Email <a href="mailto:tsteil+istory@gmail.com">me</a></td>
			{% if cacheHits and 1%}
			<td>CacheHits({{ cacheHits }}) CacheMisses({{ cacheMisses }})</td>
			{% endif %}
		</tr></table>
{% endblock %}

</td></tr></table>

{% block footer %}
{% endblock %}

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4537057-5");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>