{% extends "index.html" %}

{% block sidebar %}
	<h3>Story Player</h3>
	<div class="sb1">
	<div>Experience your story here, or on the iPhone. Look for <b>iStory</b> in the app store (coming soon).</div>
	<div>When your story is ready for public viewing, submit it for approval.</div>
	<div>You can also share this story with people you invite so they can view it before it's approved!</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="sb1">
	<div class="voting">
		<table>
			<tr><td colspan="5" id="voted">Do you like this story? Rate it!</td>
			<tr></tr>
				<td class="star" id="star1"><span class="icon-starEmpty"></span></td>
				<td class="star" id="star2"><span class="icon-starEmpty"></span></td>
				<td class="star" id="star3"><span class="icon-starEmpty"></span></td>
				<td class="star" id="star4"><span class="icon-starEmpty"></span></td>
				<td class="star" id="star5"><span class="icon-starEmpty"></span></td>
			</tr><tr><td colspan="5">Comment (optional):<br><form id="voteForm" action="/vote" method="POST">
				<textarea id="voteComment" name="comment" rows="5" cols="25"></textarea><br>
			</tr><tr><td colspan="5"><input type="submit" value="Vote!">
				<input type="hidden" name="myAdventureKey" value="{{ adventure.key }}">
				<input type="hidden" name="vote" id="voteValue" value="-1">
				</form>
			</tr><tr><td colspan="5" id="voteBottom">
		</tr></table>
	</div></div>
{% endblock %}

{% block main %}
	<div>
	<div id="loadTop"><img src="/stylesheets/loadBig3.gif"></div>
	<table class="mainContentHeader"><tr>
		<th style="text-align:right;">"{{ adventure.title|escape }}"</th>
	</tr><tr>
		<th width="50%" style="text-align:right;">{{ adventure.author|escape }}</th>
	</tr></table>
	<table class="mainContentHeader"><tr>
		<td class="iconBG-disabled" id="restartStory"><div id="icon-restart" class="icon-restartD"></div>Restart Story</td>
		<td class="iconBG-disabled" id="storyForge"><div id="icon-storyEdit" class="icon-storyEditD"></div>StoryForge</td>
		<td class="iconBG-disabled" id="shareStory"><div id="icon-share" class="icon-shareD"></div>Share Story</td>
		<td class="iconBG-disabled" id="submitStory"><div id="icon-deletePage" class="icon-deletePageD"></div>Submit Story</td>
	</tr></table>
	</div>
	<div style="height:100%;">
		<a name="top"></a>
		<div id="player"><h1>Loading...</h1></div>
	</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/utilities/utilities.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/container/container.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/json/json.js"></script>

<script type="text/javascript">
var MY_ADVENTURE_KEY = '';
{% if adventure.key %}	MY_ADVENTURE_KEY = "{{ adventure.key }}";{% endif %}
var MY_ERROR = '';
{% if error %} MY_ERROR = "{{ error }}"; {% endif %}
var IS_USER_ADMIN = {{ isUserAdmin|lower }};
var IS_USER_AUTHOR = {{ isUserAuthor|lower }};
var MY_VOTE = null;
{% if userVote.vote %}MY_VOTE = {{ userVote.vote }};{% endif %}
var MY_VOTE_COMMENT = null;
{% if userVote.comment %}MY_VOTE_COMMENT = '{{ userVote.comment }}';{% endif %}
</script>
<script src="stylesheets/playStory.js"></script>
{% endblock %}