html {
	background: #666666;
}
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
}
body hr {
	width:75%;
}

.layout_container {
	width: 800px;
	height: 100%;
	background: #333333;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
} 
.layout_header {
	font-size: small;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background: #DDDDDD; 
	padding: 10px;
} 
.layout_header h1 {
	font-style:oblique;
	font-size:x-large;
	font-weight:bold;
}
.layout_sidebar hr {
	width:75%;
}
.layout_sidebar {
	background: #EBEBEB;
	vertical-align:top;
}
.layout_sidebar .sb1 div {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 6px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	font-size:small;
	background:#CCCCCC;
	color:#000000;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
}
.layout_sidebar .sb1 li {
	margin-top: 8px;
}
#treeDiv1 {
	background: #EBEBEB;
	margin-left: 5px;
	margin-right: 5px;
}
.layout_sidebar h3 {
	margin-left: 10px;
	margin-right: 10px;
	font-size:large; font-weight:bold;
}
.layout_sidebar h2 {
	margin-left: 10px;
	margin-right: 10px;
	font-size:large;
}

.layout_mainContent {
	height:100%;
	width:540px;
	vertical-align:top;
	padding: 10px;
}
.layout_mainContent p {
	padding: 2px;
	margin: 2px;
}
.layout_mainContent .books {
	width: 100%;
	margin: 0px;
	padding: 0px;
	text-align:left;
}
.layout_mainContent .book {
	display: inline-block;
	text-align:center;
	vertical-align:top;
	width: 239px;
	margin-right:5px;
	margin-left:9px;
	padding:5px;
	margin-top:5px;
	margin-bottom:5px;
	font-size:small;
	background:#CCCCCC;
	color:#000000;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
}
.layout_mainContent .book div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.layout_mainContent .book table {
	font-size:x-small;
}
.layout_mainContent .book .ratings {
	margin-left: auto;
	margin-right: auto;
}
.layout_mainContent .book .ratings td {
	padding-left: 3px;
	padding-right: 3px;
	font-size: small;
}

/* book3 is for createStory and for featured stories on the main page */
.layout_mainContent .book3 {
	width:520px;
	margin-top:10px;
	margin-right:5px;
	margin-left:9px;
	margin-bottom:5px;
	padding-left: 5px;
	padding-right: 5px;
	font-size:small;
	background:#CCCCCC;
	color:#000000;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
	text-align: center;
	padding: 5px;
}
.layout_mainContent .book3 td {
	text-align: left;
	margin:3px;
	padding:5px;
}
.layout_mainContent .book3 th {
	text-align: right;
	margin:3px;
	padding:5px;
}
.layout_mainContent .book3 h1 {
	text-align: center;
	font-weight: bold;
	font-size: large;
	padding-top:5px;
	padding-bottom:5px;
}

.layout_footer { 
	padding: 1px;
	background:#DDDDDD;
	font-size: x-small;
	vertical-align: middle;
	text-align:center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
}
.layout_footer td {
	padding: 1px;
} 

.table1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.table1 td {
	padding: 5px;
}

.iconBG-light {
	background: #444444;
	cursor: pointer;
}
.iconBG-dark {
	background: #333333;
}
.iconBG-disabled {
	background: #333333;
	color: #999999;
}
.iconBG-light2 {
	background: #DDDDFF;
	cursor: pointer;
}
.iconBG-dark2 {
	background: #FFFFFF;
}
.iconBG-disabled2 {
	background: #FFFFFF;
	color: #999999;
}

img { vertical-align: bottom; }

.myStoryButtonDisabled {
	color: #666666;
	vertical-align:top;
	text-align:center;
	width:30%;
	margin-right:auto;
	margin-left:auto;
	background:#CCCCCC;
}
.myStoryButton {
	color: #000000;
	vertical-align:top;
	cursor:pointer;
	text-align:center;
	width:25%;
	margin-right:auto;
	margin-left:auto;
	background:#CCCCCC;
}
.myStoryButton:hover {
	background:#DDDDDD;
}
.icon-deletePage { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) 0px 0px no-repeat; }
.icon-addPage    { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) 0px -64px no-repeat; }
.icon-editPage   { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) 0px -128px no-repeat; }
.icon-save       { display:block; height:48px; width:43px; background: transparent url(icons24bit.png) 0 -192px no-repeat; }
.icon-delete     { display:block; height:48px; width:43px; background: transparent url(icons24bit.png) 0 -256px no-repeat; }
.icon-addImage   { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) 0 -320px no-repeat; }
.icon-addText    { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) 0 -384px no-repeat; }
.icon-addChoice  { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) 0 -448px no-repeat; }
.icon-elDelete   { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) 0 -512px no-repeat; }
.icon-elUp       { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) 0 -576px no-repeat; }
.icon-elDown     { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) 0 -640px no-repeat; }
.icon-storyEdit  { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -704px no-repeat; }
.icon-play       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -768px no-repeat; }
.icon-restart    { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -832px no-repeat; }
.icon-back       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -896px no-repeat; }
.icon-share      { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -960px no-repeat; }
.icon-edit       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -1024px no-repeat; }
.icon-starFull   { display:block; height:26px; width:26px; background: transparent url(icons24bit.png) 0 -1088px no-repeat; }
.icon-submit     { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) 0 -1152px no-repeat; }

.icon-deletePageMO { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) -64px 0px no-repeat; }
.icon-addPageMO    { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) -64px -64px no-repeat; }
.icon-editPageMO   { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) -64px -128px no-repeat; }
.icon-saveMO       { display:block; height:48px; width:43px; background: transparent url(icons24bit.png) -64px -192px no-repeat; }
.icon-deleteMO     { display:block; height:48px; width:43px; background: transparent url(icons24bit.png) -64px -256px no-repeat; }
.icon-addImageMO   { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -64px -320px no-repeat; }
.icon-addTextMO    { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -64px -384px no-repeat; }
.icon-addChoiceMO  { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -64px -448px no-repeat; }
.icon-elDeleteMO   { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -64px -512px no-repeat; }
.icon-elUpMO       { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -64px -576px no-repeat; }
.icon-elDownMO     { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -64px -640px no-repeat; }
.icon-storyEditMO  { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -704px no-repeat; }
.icon-playMO       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -768px no-repeat; }
.icon-restartMO    { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -832px no-repeat; }
.icon-backMO       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -896px no-repeat; }
.icon-shareMO      { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -960px no-repeat; }
.icon-editMO       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -1024px no-repeat; }
.icon-starEmpty    { display:block; height:26px; width:26px; background: transparent url(icons24bit.png) -64px -1088px no-repeat; }
.icon-submitMO     { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -64px -1152px no-repeat; }

.icon-deletePageD { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) -128px 0px no-repeat; }
.icon-addPageD    { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) -128px -64px no-repeat; }
.icon-editPageD   { display:block; height:64px; width:64px; background: transparent url(icons24bit.png) -128px -128px no-repeat; }
.icon-saveD       { display:block; height:48px; width:43px; background: transparent url(icons24bit.png) -128px -192px no-repeat; }
.icon-deleteD     { display:block; height:48px; width:43px; background: transparent url(icons24bit.png) -128px -256px no-repeat; }
.icon-addImageD   { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -128px -320px no-repeat; }
.icon-addTextD    { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -128px -384px no-repeat; }
.icon-addChoiceD  { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -128px -448px no-repeat; }
.icon-elDeleteD   { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -128px -512px no-repeat; }
.icon-elUpD       { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -128px -576px no-repeat; }
.icon-elDownD     { display:block; height:48px; width:41px; background: transparent url(icons24bit.png) -128px -640px no-repeat; }
.icon-storyEditD  { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -704px no-repeat; }
.icon-playD       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -768px no-repeat; }
.icon-restartD    { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -832px no-repeat; }
.icon-backD       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -896px no-repeat; }
.icon-shareD      { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -960px no-repeat; }
.icon-editD       { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -1024px no-repeat; }
.icon-starHalf    { display:block; height:26px; width:26px; background: transparent url(icons24bit.png) -128px -1088px no-repeat; }
.icon-submitD     { display:block; height:48px; width:48px; background: transparent url(icons24bit.png) -128px -1152px no-repeat; }

#deletePage, #editPage, #addPage, #addPageElementText, #addPageElementImage, #addPageElementChoice, #playStory {
	cursor:pointer; padding:0px;
	text-align:center;
	vertical-align:bottom;
	margin-right:auto;
	margin-left:auto;
}
#addPageSubmit, #deletePageSubmit {cursor:pointer; }
.myButton { cursor:pointer; }

.ygtvlabel {
	font-size: x-small;
}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { background-color: transparent; }
.htmlnodelabel { margin-left: 20px; }
#workAreaHolder {
	margin-top: 1em;
	margin-bottom: 2em;
	background: #FFFFFF;
	padding: 5px;
	text-align: center;
	height:100%;
}
#workArea { height:100%; }

.mainContentHeader {
	vertical-align:bottom;
	background: #333333;
	color: #FFFFFF;
	border-collapse:separate;
	border-spacing:0pt 0pt;
	width:100%;
	text-align:center;
}
.mainContentHeader th {
	font-style:oblique;
	font-size:large;
	vertical-align: top;
	padding-left:5px;
	padding-right:5px;
}
.mainContentHeader td {
	font-size:x-small;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
.mainContentHeader div {
	text-align:left;
	vertical-align:bottom;
	margin-right:auto;
	margin-left:auto;	
}
.tableHeader {
	text-align:center;
	width:100%;
}
.tableHeader td {
	font-size: small;
	text-align: right;
	margin-right: 20px;
	padding-right: 20px;
}
.tableHeader th {
	font-size: small;
	text-align: center;
}
.myFooter {
	vertical-align:middle;
	background: #666666;
	color: #111111;
	border-collapse:separate;
	border-spacing:0pt 0pt;
	text-align:center;
	font-size:small;
}
.pageElementMenu {
	text-align:center;
	margin-right:auto;
	margin-left:auto;
	margin-top: 5px;
}
.pageElementMenu table {
	margin-right:auto;
	margin-left:auto;
}
.pageElementMenu td {
	padding-left:5px;
	padding-right:5px;
}
#pageElementsWorkArea td {
	padding-left:10px;
	padding-right:10px;
}
#pageElementsWorkArea div {
	margin-right:auto;
	margin-left:auto;
}
#pageElementsWorkArea table {
	margin-right:auto;
	margin-left:auto;
}
.tableChoice {
	text-align: left;
}
.tableChoice td {
	padding-top:5px;
	padding-bottom:5px;
}
.imageUploadForm {
	background: #DDDDDD;
}
.imageUploadForm td {
	padding:5px;
}
.imageUploadForm th {
	text-align: center;
	background: #CCCCCC;
	font-weight: bold;
	padding: 5px;
}
.imageCropButton {
	margin-top:5px;
	margin-bottom:5px;
	margin-left:5px;
	margin-right:5px;
	font-size:small;
}
#loadTop {
	display: block;
	float: right;
	margin-right:16em
}
.loadElement {
	display: none;
}

.prop {
  height:16em;
  float:right;
  width:1px;
}

.clear2 {
  clear:both;
  height:1px;
  overflow:hidden;
}
.clear2 {
  clear:right;
  height:1px;
  overflow:hidden;
}
.tt { font-size:small; width:20em; }

.playerSmall {
	font-size: small;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #000000;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.playerSmallChoice {
	font-size: small;
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #000000;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.playerSmallChoice:hover {
	background: #DDDDFF;
	cursor: pointer;
}
#player {
	width:330px;
	padding:5px;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}
#player h1 {
	font-size: large;
	font-weight: bold;
	text-align: center;
	padding-left:5px;
	padding-right:5px;
}
.inline {
	display: inline;
}
.shareTable {
	margin:5px;
	margin-top:15px;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
	background:#DDDDDD;
	margin-left: auto;
	margin-right: auto;
}
.shareTable th {
	padding: 2px;
	text-align: center;
	font-weight: bold;
	background: #3F3F5F;
	color: #DDDDDD;
	padding-left: 5px;
	padding-right: 5px;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
}
.shareTable td {
	font-size: small;
	padding-left: 5px;
	padding-right: 5px;
	border-width: 1px;
	border-style: dotted;
	border-color: #000000;
}
.shareTable .button {
	text-align: center;
	padding: 5px;
}
.shareTable .button:hover {
	background:#DDDDFF;
}
.dialog label {
	font-size: small;
	padding:3px;
	margin:3px;
}
.dialog .bd {
	text-align: center;
}
.dialog input {
	padding:3px;
	margin:3px;
}
#infoBar {
	display: none;
	text-align: center;
	padding:5px;
	width:90%;
	margin-left:20px;
	margin-right:20px;
	background: #DDDDDD;
	color: #000000;
}
.infoBar {
	display: block;
	text-align: center;
	font-size: small;
	padding:5px;
	width:90%;
	margin-left:20px;
	margin-right:20px;
	background: #DDDDDD;
	color: #000000;
}
.infoBar table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.infoBar td {
	padding: 10px;
	width: 10em;
}

.voting table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.voting td {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.submitHeader {
	width: 100%;
}
.submitHeader th {
	text-align: center;
	font-size: medium;
	font-weight: bold;
}
.submit td {
	width: 50%;
	vertical-align: top;
}





