#docUploader { border: 1px solid black; margin-top: 10px; }

#hdUploader { text-align: center; }
#hdUploader h1 { font-size: 197%; font-weight: bold; color: #336699; margin-top: 20px; }

#bdUploader { text-align: center; padding: 20px 10px; }

button { padding: 5px 10px 6px 30px; font-size: 161.6%; border: 1px solid #dedede; border-top: 1px solid #eee; border-left: 1px solid #eee;
         line-height: 130%; text-decoration: none; font-weight: bold; color: #565656; cursor: pointer; background: #f5f5f5 no-repeat 10px; }
button:active { background-color: #6299c5; border: 1px solid #6299c5; color: #fff; }
button:hover { background-color: #dff4ff; border: 1px solid #c2e1ef; color: #336699; }

#btn_overlay { z-index: 2; position: absolute; }

#browse { background-image: url(picture_add.png); }
#upload { background-image: url(picture_save.png); }
#cancel { background-image: url(cancel.png); }
#export { background-image: url(images.png); }
#upload, #cancel, #export { display: none; margin-left: auto; margin-right: auto; }

#uploader { width: 0; height: 0; }

#files { background-color: #EFEFEF; border: 1px solid #666; text-align: left; margin: 20px 0; padding: 10px 0; overflow: hidden; }
#files li { margin: 5px 10px; padding: 0 0 5px 20px; cursor: pointer; background: url(picture.png) no-repeat; 
            border-bottom: 1px solid #666; }
#files li:hover { background: url(cross.png) no-repeat; }
#files li.last { border: 0; }
#files li div { vertical-align: middle; width: 100%; height: 20px; padding: 0 0 0 10px; background: url(progress.gif) repeat-y -600px 0; }

#files li.uploaded { overflow: hidden; cursor: auto; }
#files li.uploaded:hover { background-image: url(picture.png); }
#files li.uploaded a { float: left; }
#files li.uploaded div { float: left; width: 450px; }
#files li.uploaded div p { margin-bottom: 5px; }
#files li.uploaded div p label { font-weight: bold; float: left; width: 6.9em; margin-right: .5em; text-align: right; }
#files li.uploaded div p input { width: 330px; }

#upload_skeleton, #file_skeleton { display: none; }

#export_text { width: 100%; height: 100px; margin-top: 20px; display: none; }